wheel
termcolor
schedule
requests
soundfile
prettytable
webdriver_manager
selenium
moviepy==1.0.3
Pillow>=10.0.0
yagmail
assemblyai
faster-whisper
srt_equalizer
undetected_chromedriver
platformdirs
edge-tts
streamlit
google-api-python-client
google-auth-oauthlib
